@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-46lugr');
	src:url('fonts/icomoon.eot?#iefix-46lugr') format('embedded-opentype'),
		url('fonts/icomoon.woff?-46lugr') format('woff'),
		url('fonts/icomoon.ttf?-46lugr') format('truetype'),
		url('fonts/icomoon.svg?-46lugr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-a01:before {
	content: "\e618";
}

.icon-q:before {
	content: "\e616";
}

.icon-a:before {
	content: "\e600";
}

.icon-b:before {
	content: "\e601";
}

.icon-c:before {
	content: "\e602";
}

.icon-d:before {
	content: "\e603";
}

.icon-e:before {
	content: "\e604";
}

.icon-f:before {
	content: "\e605";
}

.icon-g:before {
	content: "\e606";
}

.icon-h:before {
	content: "\e607";
}

.icon-i:before {
	content: "\e608";
}

.icon-j:before {
	content: "\e609";
}

.icon-k:before {
	content: "\e60a";
}

.icon-l:before {
	content: "\e60b";
}

.icon-m:before {
	content: "\e60c";
}

.icon-n:before {
	content: "\e60d";
}

.icon-o:before {
	content: "\e60e";
}

.icon-p:before {
	content: "\e60f";
}

.icon-z:before {
	content: "\e610";
}

.icon-r:before {
	content: "\e611";
}

.icon-s:before {
	content: "\e612";
}

.icon-t:before {
	content: "\e613";
}

.icon-u:before {
	content: "\e614";
}

.icon-v:before {
	content: "\e615";
}

.icon-w:before {
	content: "\e617";
}
.icon-2x{
    font-size:4.5em;
}
.icon-3x{
    font-size:5.5em;
}
