/*
 * easytree Win8 styles

Borders have NO radius and NO gradients are used!

both:
   unselected background: white
   hover bar (unselected, inactive): #E5F3FB (border: #70C0E7) 'very light blue'
   active node: #CBE8F6 (border: #26A0DA)  'light blue'
   active node with hover: wie active node

Tree view:
   active node, tree inactive: #F7F7F7 (border: #DEDEDE) 'light gray, selected, but tree not active'

List view:
   selected bar: --> active bar
   focus  bar: transparent(white) + border 1px solid #3399FF  ()

   table left/right border: #EDEDED 'light gray'
 */
.ui-helper-hidden {
	display: none;
}

.easytree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 11pt; /* font size should not be too big */
	white-space: nowrap;
	padding: 0px;
	margin: 0; /* issue 201 */
	/*background-color: white;
	border: 1px dotted gray;*/
	overflow:hidden;
	height: 100%; /* issue 263 */
}

.easytree-container:focus {
    outline: none;
}

ul.easytree-container ul
{
	padding: 0 0 0 16px;
	margin: 0;
}

.easytree-container ul:focus {
    outline: none;
}

ul.easytree-container li
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	-moz-background-clip:border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-image: none;  /* no v-lines */

	margin:0;
	padding:1px 0 0 0;
}
/* Suppress lines for last child node */
ul.easytree-container li.easytree-lastsib
{
	background-image: none;
}
/* Suppress lines if level is fixed expanded (option minExpandLevel) */
ul.easytree-no-connector > li
{
	background-image: none;
}

/* Style, when control is disabled */
.ui-easytree-disabled ul.easytree-container
{
	opacity: 0.5;
/*	filter: alpha(opacity=50); /* Yields a css warning */
	background-color: silver;
}


span.easytree-node
{
	display: inline-block;
	width: 100%;
	border: 1px solid transparent;
}

/*******************************************************************************
 * Common icon definitions
 */
span.easytree-empty,
span.easytree-vline,
/*span.easytree-connector,*/
span.easytree-expander,
span.easytree-icon,
span.easytree-checkbox,
span.easytree-radio,
span.easytree-drag-helper-img,
#easytree-drop-marker
{
	width: 16px;
	height: 16px;
/*	display: -moz-inline-box; /* @ FF 1+2 removed for issue 221*/
/*	-moz-box-align: start; /* issue 221 */
	display: inline-block; /* Required to make a span sizeable */
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("portlet-tray.png");
	background-position: 0 0;
}
/** Used by iconclass option */
span.easytree-custom-icon {
	display: inline-block;
}
/** Used by 'icon' node option: */
.easytree-container img
{
	width: 16px;
	height: 16px;
	margin-left: 3px;
	vertical-align: top;
	border-style: none;
}


/*******************************************************************************
 * Lines and connectors
 */
/* span.easytree-connector
{
	background-image: none;
}
 */
/*******************************************************************************
 * Expander icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: easytree-exp-
 * 1st character: 'e': expanded, 'c': collapsed, 'n': no children
 * 2nd character (optional): 'd': lazy (Delayed)
 * 3rd character (optional): 'l': Last sibling
 */

span.easytree-expander
{
	background-position: -145px -3px;
	cursor: pointer;
}
span.easytree-expander:hover
{
	background-position: -145px -3px;
}
.easytree-exp-n span.easytree-expander:hover /* Collapsed, not delayed, not last sibling */
{
	background-position: -145px -3px;
}
#arbolSalidas span.easytree-expander
{
	background-position: -145px -33px;
	cursor: pointer;
}
#arbolSalidas span.easytree-expander:hover
{
	background-position: -145px -33px;
}
#arbolSalidas .easytree-exp-n span.easytree-expander:hover /* Collapsed, not delayed, not last sibling */
{
	background-position: -145px -33px;
}

.easytree-exp-cl span.easytree-expander /* Collapsed, not delayed, last sibling */
{
}
.easytree-exp-cd span.easytree-expander /* Collapsed, delayed, not last sibling */
{
}
.easytree-exp-cdl span.easytree-expander /* Collapsed, delayed, last sibling */
{
}
.easytree-exp-e span.easytree-expander,  /* Expanded, not delayed, not last sibling */
.easytree-exp-ed span.easytree-expander,  /* Expanded, delayed, not last sibling */
.easytree-exp-el span.easytree-expander,  /* Expanded, not delayed, last sibling */
.easytree-exp-edl span.easytree-expander  /* Expanded, delayed, last sibling */
{
	background-position: -89px -3px;
}
.easytree-exp-e span.easytree-expander:hover,  /* Expanded, not delayed, not last sibling */
.easytree-exp-ed span.easytree-expander:hover,  /* Expanded, delayed, not last sibling */
.easytree-exp-el span.easytree-expander:hover,  /* Expanded, not delayed, last sibling */
.easytree-exp-edl span.easytree-expander:hover  /* Expanded, delayed, last sibling */
{
	background-position: -89px -3px;
}
.easytree-loading span.easytree-expander  /* 'Loading' status overrides all others */
{
	background-position: 0 0;
	background-image: url("loading.gif");
}


#arbolSalidas .easytree-exp-e span.easytree-expander,  /* Expanded, not delayed, not last sibling */
#arbolSalidas .easytree-exp-ed span.easytree-expander,  /* Expanded, delayed, not last sibling */
#arbolSalidas .easytree-exp-el span.easytree-expander,  /* Expanded, not delayed, last sibling */
#arbolSalidas .easytree-exp-edl span.easytree-expander  /* Expanded, delayed, last sibling */
{
	background-position: -89px -33px;
}
#arbolSalidas .easytree-exp-e span.easytree-expander:hover,  /* Expanded, not delayed, not last sibling */
#arbolSalidas .easytree-exp-ed span.easytree-expander:hover,  /* Expanded, delayed, not last sibling */
#arbolSalidas .easytree-exp-el span.easytree-expander:hover,  /* Expanded, not delayed, last sibling */
#arbolSalidas .easytree-exp-edl span.easytree-expander:hover  /* Expanded, delayed, last sibling */
{
	background-position: -89px -33px;
}
.easytree-exp-n span.easytree-expander, /* Connector instead of expander, if node has no children */
.easytree-exp-nl span.easytree-expander
{
	background-image: none;
	cursor: default;
}


/*******************************************************************************
 * Checkbox icon
 */
span.easytree-checkbox
{
	margin-left: 3px;
	background-position: 0px -32px;
}
span.easytree-checkbox:hover
{
	background-position: -16px -32px;
}

.easytree-partsel span.easytree-checkbox
{
	background-position: -64px -32px;
}
.easytree-partsel span.easytree-checkbox:hover
{
	background-position: -80px -32px;
}

.easytree-selected span.easytree-checkbox
{
	background-position: -32px -32px;
}
.easytree-selected span.easytree-checkbox:hover
{
	background-position: -48px -32px;
}

/*******************************************************************************
 * Radiobutton icon
 * This is a customization, that may be activated by overriding the 'checkbox'
 * class name as 'easytree-radio' in the tree options.
 */
.easytree-radio span.easytree-checkbox
{
	margin-left: 3px;
	background-position: 0px -48px;
}
.easytree-radio span.easytree-checkbox:hover
{
	background-position: -16px -48px;
}

.easytree-radio .easytree-partsel span.easytree-checkbox
{
	background-position: -64px -48px;
}
.easytree-radio .easytree-partsel span.easytree-checkbox:hover
{
	background-position: -80px -48px;
}

.easytree-radio .easytree-selected span.easytree-checkbox
{
	background-position: -32px -48px;
}
.easytree-radio .easytree-selected span.easytree-checkbox:hover
{
	background-position: -48px -48px;
}


/*******************************************************************************
 * Node type icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: easytree-ico-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'f': folder
 */

span.easytree-icon /* Default icon */
{
	margin-left: 3px;
	background-position: 0px 0px;
}

.easytree-has-children span.easytree-icon /* Default icon */
{
/*    background-position: 0px -16px; */
}

.easytree-ico-cf span.easytree-icon  /* Collapsed Folder */
{
	background-position: 0px -16px;
}

.easytree-ico-ef span.easytree-icon  /* Expanded Folder */
{
	background-position: -64px -16px;
}

/* Status node icons */

.easytree-statusnode-wait span.easytree-icon
{
	background-image: url("loading.gif");
}

.easytree-statusnode-error span.easytree-icon
{
	background-position: 0px -112px;
/*	background-image: url("ltError.gif");*/
}

/*******************************************************************************
 * Node titles
 */

span.easytree-title
{
	display: inline-block;
}
/* Remove blue color and underline from title links */
a.easytree-title
{
	text-decoration: none;
}

.easytree-title
{
	display: inline-block; /* Better alignment, when title contains <br> */
/*	vertical-align: top;*/
	padding-left: 3px;
	padding-right: 3px; /* Otherwise italic font will be outside bounds */
	/*	line-height: 16px; /* should be the same as img height, in case 16 px */
	/* color: black; inherit doesn't work on IE */
	vertical-align: top;
	margin: 0px;
	margin-left: 3px;
/*  outline: 0; /* @ Firefox, prevent dotted border after click */
	/* Set transparent border to prevent jumping when active node gets a border
	   (we can do this, because this theme doesn't use vertical lines)
	   */
/*	border: 1px solid white; /* Note: 'transparent' would not work in IE6 */
	cursor: pointer;
}
.easytree-title a {
    text-decoration: none;
    color: inherit;
}
span.easytree-node:hover
{
	/*background-color: #E5F3FB;
	border-color: #70C0E7;*/
    color : silver;
}
.easytree-container.easytree-focused span.easytree-node.easytree-focused
{
	border-color: #3399FF;
/*	outline: 1px solid #3399FF; */
}
span.easytree-node.easytree-active,
span.easytree-node.easytree-selected
{ /* active/selcted nodes inside inactive tree */
	/*background-color: #F7F7F7;
	border-color: #DEDEDE;*/
    color : silver;
}
.easytree-container.easytree-focused span.easytree-node.easytree-active,
.easytree-container.easytree-focused span.easytree-node.easytree-selected,
span.easytree-node.easytree-active:hover,
span.easytree-node.easytree-selected:hover
{
	/*background-color: #CBE8F6;
	border-color: #26A0DA;*/
    color : silver;
}
span.easytree-node.easytree-selected
{
	font-style: italic;
}


/*******************************************************************************
 * 'table' extension
 */

/*
table.easytree-ext-table {
	border-collapse: collapse;
	width: 100%;
}
table.easytree-ext-table tbody tr:nth-child(even){
	background-color: #f4f4f8;
}
table.easytree-ext-table tbody tr td {
	border: 1px solid lightgray;
}
*/
table.easytree-ext-table {
	border-collapse: collapse;
}
table.easytree-ext-table tbody tr:hover {
	background-color: #E5F3FB;
	outline: 1px solid #70C0E7;
}
table.easytree-ext-table.easytree-container.easytree-focused span.easytree-node.easytree-focused
{
	outline: 1px solid #3399FF;
}
table.easytree-ext-table.easytree-focused tbody tr.easytree-focused {
	outline: 1px solid #26A0DA;
}
table.easytree-ext-table.easytree-focused tbody tr.easytree-active,
table.easytree-ext-table.easytree-focused tbody tr.easytree-selected
{
	background-color: #CBE8F6;
	/*outline: 1px solid #26A0DA;*/
}
table.easytree-ext-table tbody tr.easytree-active,
table.easytree-ext-table tbody tr.easytree-selected
{
	background-color: #F7F7F7;
	/*outline: 1px solid #DEDEDE;*/
}

/*******************************************************************************
 * 'columnview' extension
 */

/*
table.easytree-ext-columnview {
	border-collapse: collapse;
	width: 100%;
}
*/
table.easytree-ext-columnview td
{
	position: relative;
}
table.easytree-ext-columnview td >ul
{
	padding: 0;
}
table.easytree-ext-columnview td >ul li
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	-moz-background-clip:border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-image: none;  /* no v-lines */

	margin: 0;
	padding: 1px 0 0 0;
}
/*
table.easytree-ext-columnview tbody tr[0] {
	height: 200px;
}
*/
table.easytree-ext-columnview tbody tr td {
	border: 1px solid gray;
	vertical-align: top;
	overflow: auto;
}
table.easytree-ext-columnview span.easytree-node {
	position: relative; /* allow positioning of embedded spans*/
}
table.easytree-ext-columnview span.easytree-node.easytree-expanded {
	background-color: #CBE8F6;
}
/*
table.easytree-ext-columnview span.easytree-node.easytree-active {
	background-color: royalblue;
}
*/
table.easytree-ext-columnview span.easytree-cv-right {
	background-position: 0px -80px;
	position: absolute;
	right: 3px;
}

/*******************************************************************************
 * 'filter' extension
 */
.easytree-ext-filter span.easytree-node .easytree-title {
	color: silver;
	font-weight: lighter;
}
.easytree-ext-filter span.easytree-node.easytree-submatch .easytree-title {
	color: black;
	font-weight: normal;
}
.easytree-ext-filter span.easytree-node.easytree-match .easytree-title {
	color: black;
	font-weight: bold;
}


/*******************************************************************************
 * Drag'n'drop support
 */

/*** Helper object ************************************************************/
div.easytree-drag-helper
{
    display:none; 
    position: absolute; 
    z-index: 1000; 
    height:20px;
    width:20px;
}
div.easytree-drag-helper a
{
	border: 1px solid gray;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	opacity: 0.8;
}
span.easytree-drag-helper-img
{
	/*
	position: relative;
	left: -16px;
	*/
}
div.easytree-drag-helper /*.easytree-drop-accept*/
{
/*    border-color: green;
	background-color: red;*/
}
div.easytree-drop-accept span.easytree-drag-helper-img
{
	background-position: -32px -112px;
}
div.easytree-drag-helper.easytree-drop-reject
{
	border-color: red;
}
div.easytree-drop-reject span.easytree-drag-helper-img
{
	background-position: -16px -112px;
}

/*** Drop marker icon *********************************************************/

#easytree-drop-marker
{
	width: 24px;
	position: absolute;
	background-position: 0 -128px;
	margin: 0;
}
#easytree-drop-marker.easytree-drop-after,
#easytree-drop-marker.easytree-drop-before
{
	width:64px;
	background-position: 0 -144px;
}
#easytree-drop-marker.easytree-drop-copy
{
	background-position: -64px -128px;
}
#easytree-drop-marker.easytree-drop-move
{
	background-position: -64px -128px;
}

/*** Source node while dragging ***********************************************/

span.easytree-drag-source
{
	/* border: 1px dotted gray; */
	background-color: #e0e0e0;
}
span.easytree-drag-source a
{
	color: gray;
}

/*** Target node while dragging cursor is over it *****************************/

span.easytree-drop-target
{
	/*border: 1px solid gray;*/
}
span.easytree-drop-target a
{
}
span.easytree-drop-target.easytree-drop-accept a
{
	/*border: 1px solid green;*/
	background-color: #3169C6 !important;
	color: white !important; /* @ IE6 */
	text-decoration: none;
}
span.easytree-drop-target.easytree-drop-reject
{
	/*border: 1px solid red;*/
}
span.easytree-drop-target.easytree-drop-after a
{
}
